---
const { quote } = Astro.props
---

<div class="relative z-10 flex h-full justify-center px-6">
    <h1
        class="fade-up uppercase pt-50 lg:pt-10 max-w-5xl text-center font-body text-3xl md:text-5xl lg:text-6xl font-extrabold leading-tight"
    >
    {quote}
    </h1>
</div>
